{% extends 'base.html.twig' %}

{% block title %}User Products{% endblock %}

{% block body %}
    <h2>Users and their Products</h2><hr>
    {% for user in users %}
        <h4>{{ user }}</h4>
        {% for product in products %}
            {% if user.id == product.user.id %}
                <ul>
                    <li>{{ product.name }}</li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <hr>
    <p>
        <a href="{{ path('add_user') }}">user create</a>
    </p>
    <p>
        <a href="{{ path('add_product') }}">add products</a>
    </p>

{% endblock %}

